
$primary: rgb(250, 240, 198);
$secondary: rgb(0, 48, 91);

$highlight: #FFD0AE;
$nav: rgb(153, 237, 237);
$nav-links: rgb(34, 9, 108);
$logo: rgb(2, 84, 78);

$green: rgb(65, 208, 141);
$orange: rgb(244, 173, 67);
$red: rgb(223, 89, 89);
$skyblue: rgb(121, 201, 196);
$violet: rgb(136, 70, 211);

$dark-red: rgb(162, 76, 76);
$dark-green: rgb(6, 91, 65);
$dark-purple: rgb(91, 6, 81);