@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand&family=Roboto:wght@300&family=Ubuntu&display=swap');

$comfortaa: 'Comfortaa', cursive;
$quicksand: 'Quicksand', sans-serif;
$roboto: 'Roboto', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

