@use 'colors';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.about {
    --border-width: 3px;
    padding-top: 5vh;
    padding-bottom: 10vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    &__container {
        display: grid;
        justify-content: center;
        padding: 10px;
        background: conic-gradient( 
            rgb(65, 208, 141) 12deg, rgb(223, 89, 89) 4deg 72deg, rgb(121, 201, 196) 72deg 134deg, rgb(136, 70, 211) 134deg 226deg, rgb(244, 173, 67) 226deg 300deg,
            rgb(65, 208, 141) 300deg 360deg);
        height: 320px;
        width: 320px;
        border-radius: 50%;
        &-photo {
            border-radius: 50%;
        }
    }
    &__bio {
        padding: 5vh 8vw;

        // TODO: make this font config reusable
        font-size: 1.5em;
        line-height: 1.7;
        letter-spacing: .5px;
        font-family: 'Ubuntu', sans-serif;
    }
}

.highlight {
    white-space: nowrap;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
    > a {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 640px) {
    .about {
        justify-content: center;
        grid-template-columns: repeat(2, fit-content(50%));
        &__bio{
            padding: 0px;
            padding-left: 5vw;
            align-self: center;
            max-width: 80vw;
        }
    }
}