@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.about {
    display: grid;
    grid-template-rows: 1fr;
    &__container {
        display: grid;
        justify-content: center;
        padding-top: 5vh;
        &-photo {
            border-radius: 50%;
        }
    }
    &__bio {
        padding: 5vh 8vw;
        font-size: 1.5em;
        line-height: 1.7;
        letter-spacing: .5px;
        font-family: 'Ubuntu', sans-serif;
    }
}

.highlight {
    white-space: nowrap;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
    > a {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 640px) {
    .about {
        justify-content: center;
        grid-template-columns: repeat(2, fit-content(50%));
        &__bio{
            padding: 0px;
            padding-left: 5vw;
            align-self: center;
            max-width: 80vw;
        }
    }
}