@use 'colors';
@use 'fonts';

.about {
    --border-width: 3px;
    padding-top: 5vh;
    padding-bottom: 10vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    &__container {
        display: grid;
        justify-content: center;
        padding: 10px;
        background: conic-gradient( 
            colors.$green 12deg, colors.$red 4deg 72deg, colors.$skyblue 72deg 134deg, colors.$violet 134deg 226deg, colors.$orange 226deg 300deg,
            colors.$green 300deg 360deg);
        height: 320px;
        width: 320px;
        border-radius: 50%;
        &-photo {
            border-radius: 50%;
        }
    }
    &__bio {
        padding: 5vh 8vw;

        // TODO: make this font config reusable
        font-size: 1.5em;
        line-height: 1.7;
        letter-spacing: .5px;
        font-family: fonts.$ubuntu;
    }
}

.highlight {
    white-space: nowrap;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
    > a {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 640px) {
    .about {
        justify-content: center;
        grid-template-columns: repeat(2, fit-content(50%));
        &__bio{
            padding: 0px;
            padding-left: 5vw;
            align-self: center;
            max-width: 80vw;
        }
    }
}