@use 'colors';
@use 'fonts';

.event {
    display: grid;
    background-color: colors.$primary;
    color: tomato;
    margin: 2vh 5vw;
    font-size: 1.2em;
    border-radius: 10px;
    height: 70px;
    font-family: fonts.$comfortaa;
    align-items: center;
    &__tag {
        position: absolute;
        right: 0;
    }
}