@use 'colors';
@use 'fonts';

.footer {
    background-color: colors.$secondary;
    color: colors.$primary;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
    font-family: fonts.$quicksand;
    text-transform: lowercase;
    display: grid;
    grid-auto-flow: row;
    gap: 5vh;

    &__versions {
        display: grid;
        grid-auto-flow: row;
        a {
            color: colors.$primary;
            text-decoration: underline;
        }
    }

    &__resume {
        > a {
            color: colors.$primary;
            text-decoration: underline;
        }
    }
    &__music {
        > a {
            color: colors.$primary;
            text-decoration: underline;
        }
    }
}

@media (min-width: 600px) {
    .footer {
        padding-top: 10vh;
        grid-auto-flow: column;
        justify-items: center;
        gap: 2vw;
    }
}