@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand&display=swap');

.menu {
    width: 100vw;
    height: 10vh;
    padding-top: 3vh;
    overflow-x: none;
    display: grid;
    grid-template-columns: 70vw 20vw;
    justify-content: space-between;
    align-items: center;
    &__list {
        position: absolute;
        top: 0;
        z-index: 2;
        list-style: none;
        width: 100vw;
        display: grid;
        grid-auto-rows: 10vh;
        justify-content: center;
        padding-top: 15vh;
        height: 100vh;
        clip-path: circle(396px at 301px 4px);
        animation: fadeIn 300ms;
        background-color: rgb(153, 237, 237);
        backdrop-filter: blur(50%);
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        > li {
            height: 10vh;
            > a {
                text-decoration: none;
                font-size: 1.7em;
                color: rgb(34, 9, 108);
            }
        }
        &-hidden {
            display: none;
        }
    }
    &__logo {
        > a {
            text-decoration: none;
            font-family: 'Comfortaa', cursive;
            font-size: 1.5em;
            padding-left: 5vw;
            color: rgb(2, 84, 78);
        }
    }
    &__toggle {
        cursor: pointer;
        justify-self: end;
        padding-right: 5vw;
        outline: none;
        background: transparent;
        border: 1px solid transparent;
        z-index: 5;
    }
}

@media (min-width: 600px) {
    .menu{
        height: 20vh;
        grid-template-columns: 50vw 40vw;
        &__logo {
            font-size: 1.5em;
            white-space: nowrap;
        }
        &__toggle{
            display: none;
        }
        &__list{
            &-hidden{
                display: block;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                > li {
                    list-style: none;
                    font-family: 'Quicksand', sans-serif;
                    text-transform: uppercase;
                    text-align: center;
                    > a {
                        text-decoration: none;
                        color: rgb(34, 9, 108);
                        font-weight: 600;
                        // font-size: 2em;
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .menu{
        grid-template-columns: 60vw 40vw;
        &__logo {
            font-size: 2em;
            // padding-left: 10vw;
        }
        &__list{
            &-hidden{
                // padding-right: 10vw;
                > li {
                    > a {
                        // font-weight: 600;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

// Animation for mobile menu
@-webkit-keyframes fadeIn {
    from { clip-path: circle(5px at 307px 4px); }
    to { clip-path: circle(396px at 301px 4px); }
}
@keyframes fadeIn {
    from { clip-path: circle(5px at 307px 4px); }
    to { clip-path: circle(396px at 301px 4px); }
}
