@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Comfortaa:wght@500&family=Quicksand&display=swap');

.notes {
    min-height: 60vh;
    padding: 5vh 10vw;
    display: grid;
    justify-items: center;
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5em;
        line-height: 1.7;
        letter-spacing: .5px;
        padding-bottom: 5vh;
    }
    &__list {
        display: grid;
        justify-content: center;
        padding: 10vh 0;
    }
}

.divider > hr {
    width: 80vw;
}

.note {
    font-family: 'Ubuntu', sans-serif;
    padding: 5vh 0;

    &__header {
        display: grid;
        grid-auto-flow: column;
    }
    &__tags {
        display: grid;
        grid-auto-flow: column;
        width: min-content;
        padding: 2vh 0 1vh 0;
    }
    &__body {
       > code {
            background-color: tomato
       }
    }
}

.title {
    font-family: 'Comfortaa', cursive;
    background-color: bisque;
    width: fit-content;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    &::after {
        content: "";
        top: 2px;
        z-index: 5;
        background-color: tomato;
        height: 10vh;
        width: 20vw;
    }
}

@media (min-width: 600px) {
    .projects {
        &__title {
            width: 70vw;
        }
    }
}

@media (min-width: 1000px) {
    .projects {
        &__title {
            width: 50vw;
        }
    }
}