@use 'colors';
@use 'fonts';

.notes {
    min-height: 60vh;
    padding: 5vh 10vw;
    display: grid;
    justify-items: center;
    &__title {
        font-family: fonts.$ubuntu;
        font-size: 1.5em;
        line-height: 1.7;
        letter-spacing: .5px;
        padding-bottom: 5vh;
    }
    &__list {
        display: grid;
        justify-content: center;
        padding: 10vh 0;
    }
}

.divider > hr {
    width: 80vw;
}

.note {
    font-family: fonts.$ubuntu;
    padding: 5vh 0;

    &__header {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        line-height: 20px;
    }
    &__tags {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: min-content;
        padding: 1vh 0 1vh 0;
        //Figure out alternate row styling
        // > *:nth-child(2n + 1) {
        //     margin-left: 5vw;
        // }
    }
    &__body {
       > code {
            background-color: tomato
       }
    }
}

@media (min-width: 600px) {
    .projects {
        &__title {
            width: 70vw;
        }
    }
}

@media (min-width: 1000px) {
    .projects {
        &__title {
            width: 50vw;
        }
    }
}