@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand&family=Roboto:wght@400');

.tag {
    padding: 3px 5px;
    background-color: tomato;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: rgb(250, 240, 198);
    width: min-content;
}