@use 'colors';
@use 'fonts';

.tag {
    padding: 3px 5px;
    // background-color: colors.$red;
    margin-right: 10px;
    font-family: fonts.$roboto;
    border-radius: 5px;
    color: colors.$primary;
    width: min-content;
}